page-game {
    .container{
        width:100%;
        display:inline-block;
        background-color: gainsboro;
        // height: 16em;
        /*text-align: center;*/
        // margin-right: 10%;
        // margin-left: 10%;
    }
    
    .slot{
        float:left;
        margin-left: 10%;
        /*margin-right: 10%;*/
        // height: 16em;
        width:20%;
    
    }

    .btnContainer{
        padding-top: 2em;
        width:100%;
        display:inline-block;
        background-color: skyblue;
        /*height: 20em;*/
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
    }
    
    .btnCls{
        // float: left;
        // margin-left: 8%;
        margin-right: 2%;
        margin-bottom: 2em;
        // width:10em;
        height:3em !important;
        padding: 1em !important;
        // border-radius: 2em;
    }
    
    .lblContainer{
        /*padding-top: 2em;*/
        width:100%;
        display:inline-block;
        background-color: skyblue;
        height: 16em;
        // text-align: center;
        padding-right: 10%;
        padding-left: 10%;
        
    }
    
    .lblCont{
        float: left;
        background-color: #999999;
        margin-top: 6em;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        text-align: center;
    }
    
    #creditLbl,#currBetLbl{
        text-align: center;
    }
    
    .lblCont:last-child{
        float: right;
        /*background-color: #999999;*/
        margin-right: 2%;
    }
    
    .lblCont:nth-child(2){
        margin-left: 30%;
        padding: 2%;
    }

    #msgsLbl{
        width: 60%;
        text-align: center;
        margin-left: 4em;
        // margin-right: 2em;
    }

    
    //tab size
    @media screen and (max-width: 700px){
        // .container{
        //     background-color: red;
        // }
        .btnCls{
            // float: left;
        // margin-left: 8%;
        margin-right: 2%;
        margin-bottom: 1em;
        // width:10em;
        height:1em !important;
        padding: 1em !important;
        // border-radius: 2em;
        font-size: 11px;
        }

        .lblContainer h3{
            font-size: 11px !important;
        }
    }
    //mobile size
    @media screen and (max-width: 1165px){
        // .container{
        //     background-color: blue;
        // }

        .btnCls{
            // float: left;
        // margin-left: 8%;
        margin-right: 2%;
        margin-bottom: 1em;
        // width:10em;
        height:1em !important;
        padding: 1em !important;
        // border-radius: 2em;
        font-size: 11px;
        }

        .lblContainer h3{
            font-size: 10px !important;
        }
        
        .lblCont:last-child{
            float: right;
            /*background-color: #999999;*/
            margin-right: 0%;
            width: 28%;
        }
        .lblCont:first-child{
            margin-right: 8%;
            width: 20%
        }
        
        #msgsLbl{
            width: 40%;
            text-align: center;
            margin-left: 0em;
            // margin-right: 2em;
        }
    

    }
    
}